*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    align-items:center;
    padding:20px;
}

nav{
    flex:1;
    text-align:right;
}

nav ul{
    display:inline-block;
    list-style-type:none;
}

nav ul li{
    display:inline-block;
    margin-right:20px;
    bottom:-40px;
}

nav ul li a{
    text-decoration:none;
    color:#555;
}

nav ul li a::after{
    content:'';
    height:2px;
    width:0;
    background:#279a92;
    position:absolute;
    left:0;
    bottom:-10px;
    font-size:large;
    transition:0.5s;
}

a{
    text-decoration:none;
    color:#555;
}

p{
    color:#555;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:0 24px;
}

.search{
    flex:1;
    border:none;
    outline:none;
    width:400px;
    height:40px;
    padding:10px 50px;
}

.btn1{
    background:tomato;
    padding:10px 50px;
    border:none;
    outline:none;
    color:#fff;
    letter-spacing:1px;
    cursor:pointer;
}

.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.col-2{
    flex-basis:50%;
    min-width:300px;
}

.col-2 img{
    max-width:100%;
    padding:50px 0;
}

.col-2 h1{
    font-size:60px;
    line-height:50px;
    margin:25px 0;
    font-style:italic;
}

.btn{
    display:inline-block;
    background:#ff523b;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition:background 3s;
    font-weight:bolder;
}

.btn:hover{
    background:dodgerblue;
}

.header{
    background:radial-gradient(#fff,#ffd6d6);
}

body{
    font-family:'Poppins', sans-serif;
}

.header .row{
    margin-top:70px;
}

.categories{
    margin:70px 0;
}

.col-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
}

.col-3 img{
    width:100%;
}

.small-container{
    max-width:1080px;
    margin:auto;
    padding:0 25px;
}

.col-4{
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
}

.col-4 img{
    width:100%;
}

.title{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:rgb(61, 59, 59);
}

.title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-70%);
}

h4{
    color:#555;
    font-weight:normal;
}

.col-4 p{
    font-size:14px;
}

.rating .fa{
    color:#ffd83b;
}

.col-4:hover{
    transform:translateY(-25px);
}

.offer{
    background:radial-gradient(#fff,#ffd6d6);
    margin-top:80px;
    padding:30px 0;
}

.col-2 .offer-img{
    padding:50px;
}

small{
    color:#555;
}

.brands{
    margin:20px auto;
}

.col-5{
    width:190px;
}

.col-5 img{
    width:100%;
    cursor:pointer;
    padding:60px;
    filter:brightness();
}

.footer{
    background:black;
    color:#8a8a8a;
    font-size:14px;
    padding:60px 0 20px;
    margin-left:0;
}

.footer p{
    color:#8a8a8a;
}

.footer h3{
    color:#fff;
    margin-bottom:20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom:90px;
}

.footer-col-1{
    flex-basis:30%;
}

.footer-col-2{
    flex:1;
    text-align:center;
}

.footer-col-2 img{
    width:180px;
    margin-bottom:20px;
}

.footer-col-3, .footer-col-4{
    flex-basis:12%;
    text-align:center;
}

ul{
    list-style-type:none;
}

.app-logo{
    margin-top:20px;
}

.app-logo img{
    width:140px;
}

.footer hr{
    border:none;
    background:#b5b5b5;
    height:3px;
    margin:20px 0;
}

.Copyright{
    text-align:center;
}

.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}

@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:#333;
        width:100px;
        overflow:hidden;
        transition:max-height 1s;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }

    nav ul li a{
        color:#fff;
    }

    .menu-icon{
        display:block;
        cursor:pointer;
    }
}

/* Login form */


#body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    background: #ffd6d6;
    background-size: cover;
    color: white; 
    font-family: 'Times New Roman', Times, serif; 
}

#container{
    position: relative;
    width: 450px;
    height: 420px;
    background: rgb(255, 192, 222);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10%;
}

@keyframes anim{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

#container::before, #container::after{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(6, 84, 158));
    animation: anim 3s linear infinite;
}

#container::after{
    animation-delay: -2s;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(134, 32, 13));
}

#container .form{
    position: absolute;
    inset: 5px;
    background: white;
    color: white;
    font-size: 12px;
    z-index: 1;
    border-radius: 5px;
    padding: 50px 40px;
}

.form .title{
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 140px 40px;
    font-style: italic;
}

.form .input-box{
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: solid 1px black;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #cf5656, 0px 0px 30px #cb5353;
    margin-bottom: 30px;
}

.form .input-box input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px 10px;
    color: black;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.form .input-box .s-title{
    position: absolute;
    top: -15px;
    left: 10px;
    color: black;
    background: white;
    padding: 6px;
    font-size: 16px;
}

.form .checkbox .pwd{
    position: relative;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: solid 2px black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form .checkbox .pwd::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: black;
}

.form .submit{
    outline: none;
    background: rgb(186, 49, 25);
    color: black;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(186, 49, 25), 0px 0px 30px rgb(186, 49, 25);
    float: right;
    margin-top: 20px;
    cursor: pointer;
}

.info{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: black;
}
/* SignUP Form */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
    transition:1s ease ;
    
    background-size: cover;
    background-attachment: fixed;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffd6d6; 
}

.box{
    
    width: 470px;
    height: 750px;
    left: calc(50% 175px);
    top: calc(50% - 250px);
    padding-top: 45px;
    transform-style: preserve-3d;
    background-color: white;
    box-shadow: -3px -3px 25px rgb(232, 107, 167),
    inset -3px -3px 15px rgb(233, 127, 178),
    inset -3px -3px 15px rgb(202, 118, 159);
}
.box div{
    width: 470px;
    height: 750px;
}

.box div:nth-child(5){
    height: 350px;
   
} 

.contain .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


.contain .form h2{
    color:black;
    font-weight: 500;
    letter-spacing: 0.3em;
}
.contain .form .inputBox{
    position: relative;
    width: 300px;
}
.contain .form .inputBox input{
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: rgb(226, 204, 240);
    color: black;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgb(212, 156, 156),
    5px 5px 15px rgb(190, 116, 116);
    transition: 0.5s;
    outline: none;
}
.contain .form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: rgb(37, 35, 35);

}
.contain .form .inputBox input:valid ~ span,
.contain .form .inputBox input:focus ~ span
{
    color: black;
    border: 1px solid black;
    background: rgb(226, 204, 240);
    font-size: 0.8em;
    padding: 0 8px;
    transform: translateX(30px) translateY(-8px);
    border-radius: 10px;
    letter-spacing: 0.1em;

}

.contain .form .inputBox input:valid,
.contain .form .inputBox input:focus
{
    border: 1px solid rgb(200, 118, 125);
}

.contain .form .inputBox i{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: black;
    

}
.contain .form .inputBox input [type="submit"]{
    background: rgb(200, 118, 125);
    color: black;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -3px -3px 25px rgb(253, 98, 127),
    inset -3px -3px 15px rgb(253, 98, 127),
    inset -3px -3px 15px rgb(253, 98, 127);

}
.contain .form p{
    color: black;
    font-size: 0.75em;
    font-weight: 300;
}

.contain .form p a{
    font-weight: 500;
    color: black;
    font-size: 17px;
}
#sbmt:hover{
    background-color: tomato;

}
#info{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding: 39px;
    color: black;
 }


 /* Story */
 
